%ul
  =second_nav_link 'NEW', new_path
  =second_nav_link t('ugolki'), ugolki_dushi_path
  =second_nav_link t('sozvezdie'), sozvezdii_slona_path
  =second_nav_link t('ledi'), lady_path
  =second_nav_link 'Homo Insectarium', homo_insectarium_path