%ul
  =nav_link t('painting'), root_path
  =nav_link t('about'), about_path
  =nav_link t('news'), news_path
  =nav_link t('pressa'), pressa_path
  =nav_link t('classes'), classes_path
  =nav_link t('doings'), doings_path
  =nav_link t('contacts'), contacts_path